include head.pug
// Site wrapper
.wrapper
  // Navbar
  include navbar.pug

  // Main Sidebar Container
  include sidebar.pug

  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)

    // Main content
    section.content
      .container-fluid
        .row
          .col-6
            // Default box
            .card.custom-content
              .card.custom-content
              .card-header
                h3.card-title Подробная информация о пользователе #{data.name}
                
              .card-body
                .card
                  .card-body.p-0
                    table.table.table-sm
                      thead
                      tbody                        
                        tr
                          td(style='width: 40px') Фамилия:
                          td=data.fname
                        tr
                          td(style="width: 40px") Имя:
                          td= data.name
                        tr
                          td(style="width: 40px") Email:
                          td= data.email
                        tr
                          td(style="width: 40px") Телефон:
                          td= data.phone
                        tr
                          td(style="width: 40px") Login:
                          td= data.login
                        tr
                          td(style="width: 40px") Доступ:
                          td= data.permission
                        tr
                          td
                            img(src= data.photo)
  // /.content-wrapper
  footer.main-footer
    strong
      | Copyright &copy; 2020 
      | Store Admin Panel
// ./wrapper
// jQuery
script(src='/public/plugins/jquery/jquery.min.js')
// Bootstrap 4
script(src='/public/plugins/bootstrap/js/bootstrap.bundle.min.js')
// overlayScrollbars
script(src='/public/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')
// AdminLTE App
script(src='/public/js/adminlte.min.js')
// AdminLTE for demo purposes
script(src='/public/js/demo.js')
